<%= $game.name(player_1) %> vs. <%= $game.name(player_2) %>
<br>
<%= $game.name(player_2) %>: <%= $game.health(player_2) %>hp
<form action="/move" method="post">
<input type="submit" value="Attack">
</form>
